# custom files
#custom/
!custom/plugins/.gitkeep

# temp files directories
cache/
log/

# cacerts directories
cacerts/rootCA.*

#
bash_home/.ssh
bash_home/.bash_history
bash_home/.my_aliases

config.user.inc.php